{{!-- This is the {{body}} homepage that appears after users successfully log in --}}

  <div class="container-fluid mt-5 mx-0"> {{!-- Page container using grid 12 --}}

    <div class="row justify-content-center">{{!-- Set columns in a row --}}

      <div class="col-6 mx-0">  {{!-- Left Column --}}
          <h1>Recent Posts</h1>
          {{#each blogs as |blog| }}
          
          <div class="card" style="width: 100%;"> {{!-- Individual Post Cards --}}
            <div class="card-body">
              <h2 class="card-title text-success">{{blog.title}}</h2>
              <h6 class="fst-italic">by {{user.username}} on {{blog.date}}</h6>
              <p class="card-text text-dark">{{blog.content}}</p>
              <hr>
              {{#each blog.comments}}
              <h6 class="fst-italic">Comment by {{this.username}} on {{this.date}}:</h6>
              {{this.comment_text}}
              <hr>
              {{/each}}

              <a href="/postpage/{{blog.id}}" class="btn btn-success">Read</a>
            </div>
          </div> {{!-- End of individual post cards --}}
          {{/each}}

      </div> {{!-- End of left column --}}


      <div class="col-6"> {{!-- Right Column --}}

          <div class="join-container mt-0"> {{!-- Chat Container --}}
            <h1 style="color:black">Let's Chat!</h1>

            <header class="join-header">
            <h1 style="color:white">Get bilingual!</h1>
            </header>

            <main class="join-main">
              <form action="chat.html">

              <div class="form-control">
                <label for="username">Username</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Enter username..."
                  required
                />
              </div>

              <div class="form-control">
              <label for="room">Room</label>
                <select name="room" id="room">
                  <option value="General">General</option>
                  <option value="French">French</option>
                  <option value="Spanish">Spanish</option>
                  <option value="German">German</option>
                  <option value="Portugese">Portugese</option>
                  <option value="Italian">Italian</option>
                </select>
              </div>
              <button type="submit" id="joinchat" class="active btn" style="background:#0f5132">Join Chat</button>
              </form>

            </main> 

          </div> {{!-- End of chat container --}}


          <div class="join-container mt-0"> {{!-- Translation Container --}}
            <h1 style="color:black">Get A Translation!</h1>

            <header class="join-header">
            <h1 style="color: white">Text Translator</h2>
            </header>

            <main class="join-main">
              <form>
                <div class="form-control">
                  <input type="text" id="textToTranslate" placeholder="Enter Text Here"></input>
                  <label for="textToTranslate"></label> {{!-- textToTranslate --}}

                <h3 class="join-header" style="color: white">Translate to:</h3>
                <select name="dropdown" id="languageTo">  {{!-- languageTo --}}
                  <option value="fr">French</option>
                  <option value="es">Spanish</option>
                  <option value="de">German</option>
                  <option value="pt">Portugese</option>
                  <option value="it">Italian</option>
                </select> 
                <hr>
                        
                  <input type="text" id="translatedTextHolder" placeholder="Translated Text" value={{transText}}></input>
                  <label for="new_comment"></label>  {{!-- TranslatedTextHolder --}}

                </div> 
                  
                <button class="btn btn-success" id="translate">Submit</a>  {{!-- translate --}}
      
              </form>
            </main> 
            
          </div> {{!-- End of translation container--}}

          <div class="col">
              <h1 class="text-center">Chat with friends on Zoom<span class="icon" style="width: 20px;">
              <a href="https://zoom.us/" target="_blank" rel="noopener noreferrer"><img src="https://www.eweek.com/wp-content/uploads/2021/01/Zoom.logo_.jpg" width="100px" height="80px"></a>
              </span></h1>
          </div>  {{!-- End of Zoom --}}

      </div> {{!-- End of right column --}}
   
  </div> {{!-- End of page container --}}

  <script src="/js/translator.js"></script>



{{!-- Script for Chat Room was created as a result of tutorial by: --}}
{{!-- Brad Traversy at: --}}
{{!--   https://www.youtube.com/watch?v=jD7FnbI76Hg&t=1339s --}}
{{!--   https://github.com/bradtraversy/chatcord --}}